# Machine Learning (Final Project)

In [16]:
!pip install -U imbalanced-learn

Collecting imbalanced-learn
  Downloading imbalanced_learn-0.13.0-py3-none-any.whl.metadata (8.8 kB)
Requirement already satisfied: numpy<3,>=1.24.3 in /usr/local/lib/python3.11/dist-packages (from imbalanced-learn) (1.26.4)
Requirement already satisfied: scipy<2,>=1.10.1 in /usr/local/lib/python3.11/dist-packages (from imbalanced-learn) (1.14.1)
Requirement already satisfied: scikit-learn<2,>=1.3.2 in /usr/local/lib/python3.11/dist-packages (from imbalanced-learn) (1.6.1)
Collecting sklearn-compat<1,>=0.1 (from imbalanced-learn)
  Downloading sklearn_compat-0.1.3-py3-none-any.whl.metadata (18 kB)
Requirement already satisfied: joblib<2,>=1.1.1 in /usr/local/lib/python3.11/dist-packages (from imbalanced-learn) (1.4.2)
Requirement already satisfied: threadpoolctl<4,>=2.0.0 in /usr/local/lib/python3.11/dist-packages (from imbalanced-learn) (3.5.0)
Downloading imbalanced_learn-0.13.0-py3-none-any.whl (238 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 238.4/238.4 kB 6.0 MB/s eta 0:00:00
Downloading sklearn_compat-0.1.3-py3-none-any.whl (18 kB)
Installing collected packages: sklearn-compat, imbalanced-learn
Successfully installed imbalanced-learn-0.13.0 sklearn-compat-0.1.3

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

In [2]:
plt.style.use("seaborn-v0_8-whitegrid")

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [4]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Data/Malware_subset.csv')

In [5]:
df.isnull().sum()

 Source Port          0
 Destination Port     0
 Protocol             0
 Flow Duration        0
 Total Fwd Packets    0
                     ..
Idle Mean             0
 Idle Std             0
 Idle Max             0
 Idle Min             0
Label                 0
Length: 81, dtype: int64

In [6]:
df.head()

,Source Port,Destination Port,Protocol,Flow Duration,Total Fwd Packets,Total Backward Packets,Total Length of Fwd Packets,Total Length of Bwd Packets,Fwd Packet Length Max,Fwd Packet Length Min,...,min_seg_size_forward,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
0,43399,443,6,36586,1,1,0.0,0.0,0.0,0.0,...,32,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,ADWARE_FEIWO
1,40422,443,6,36984,1,1,0.0,0.0,0.0,0.0,...,32,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,ADWARE_FEIWO
2,56977,80,6,15638963,5,5,405.0,448.0,405.0,0.0,...,20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,ADWARE_FEIWO
3,60652,80,6,15660249,5,5,405.0,448.0,405.0,0.0,...,20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,ADWARE_FEIWO
4,44512,80,6,14456391,5,3,268.0,519.0,268.0,0.0,...,20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,ADWARE_FEIWO

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 834695 entries, 0 to 834694
Data columns (total 81 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0    Source Port                  834695 non-null  int64
 1    Destination Port             834695 non-null  int64
 2    Protocol                     834695 non-null  int64
 3    Flow Duration                834695 non-null  int64
 4    Total Fwd Packets            834695 non-null  int64
 5    Total Backward Packets       834695 non-null  int64
 6   Total Length of Fwd Packets   834695 non-null  float64
 7    Total Length of Bwd Packets  834695 non-null  float64
 8    Fwd Packet Length Max        834695 non-null  float64
 9    Fwd Packet Length Min        834695 non-null  float64
 10   Fwd Packet Length Mean       834695 non-null  float64
 11   Fwd Packet Length Std        834695 non-null  float64
 12  Bwd Packet Length Max         834695 non-null  float64
 13   Bwd Packet Length Min        834695 non-null  float64
 14   Bwd Packet Length Mean       834695 non-null  float64
 15   Bwd Packet Length Std        834695 non-null  float64
 16  Flow Bytes/s                  834695 non-null  float64
 17   Flow Packets/s               834695 non-null  float64
 18   Flow IAT Mean                834695 non-null  float64
 19   Flow IAT Std                 834695 non-null  float64
 20   Flow IAT Max                 834695 non-null  float64
 21   Flow IAT Min                 834695 non-null  float64
 22  Fwd IAT Total                 834695 non-null  float64
 23   Fwd IAT Mean                 834695 non-null  float64
 24   Fwd IAT Std                  834695 non-null  float64
 25   Fwd IAT Max                  834695 non-null  float64
 26   Fwd IAT Min                  834695 non-null  float64
 27  Bwd IAT Total                 834695 non-null  float64
 28   Bwd IAT Mean                 834695 non-null  float64
 29   Bwd IAT Std                  834695 non-null  float64
 30   Bwd IAT Max                  834695 non-null  float64
 31   Bwd IAT Min                  834695 non-null  float64
 32  Fwd PSH Flags                 834695 non-null  int64
 33   Bwd PSH Flags                834695 non-null  int64
 34   Fwd URG Flags                834695 non-null  int64
 35   Bwd URG Flags                834695 non-null  int64
 36   Fwd Header Length            834695 non-null  int64
 37   Bwd Header Length            834695 non-null  int64
 38  Fwd Packets/s                 834695 non-null  float64
 39   Bwd Packets/s                834695 non-null  float64
 40   Min Packet Length            834695 non-null  float64
 41   Max Packet Length            834695 non-null  float64
 42   Packet Length Mean           834695 non-null  float64
 43   Packet Length Std            834695 non-null  float64
 44   Packet Length Variance       834695 non-null  float64
 45  FIN Flag Count                834695 non-null  int64
 46   SYN Flag Count               834695 non-null  int64
 47   RST Flag Count               834695 non-null  int64
 48   PSH Flag Count               834695 non-null  int64
 49   ACK Flag Count               834695 non-null  int64
 50   URG Flag Count               834695 non-null  int64
 51   CWE Flag Count               834695 non-null  int64
 52   ECE Flag Count               834695 non-null  int64
 53   Down/Up Ratio                834695 non-null  float64
 54   Average Packet Size          834695 non-null  float64
 55   Avg Fwd Segment Size         834695 non-null  float64
 56   Avg Bwd Segment Size         834695 non-null  float64
 57   Fwd Header Length.1          834695 non-null  int64
 58  Fwd Avg Bytes/Bulk            834695 non-null  int64
 59   Fwd Avg Packets/Bulk         834695 non-null  int64
 60   Fwd Avg Bulk Rate            834695 non-null  int64
 61   Bwd Avg Bytes/Bulk           834695 non-null  int64
 62   Bwd Avg Packets/Bulk         834695 non-null  int64
 63  Bwd Avg Bulk Rate             834695 non-null  int64
 64  Subflow Fwd Packets           834695 non-null  int64
 65   Subflow Fwd Bytes            834695 non-null  int64
 66   Subflow Bwd Packets          834695 non-null  int64
 67   Subflow Bwd Bytes            834695 non-null  int64
 68  Init_Win_bytes_forward        834695 non-null  int64
 69   Init_Win_bytes_backward      834695 non-null  int64
 70   act_data_pkt_fwd             834695 non-null  int64
 71   min_seg_size_forward         834695 non-null  int64
 72  Active Mean                   834695 non-null  float64
 73   Active Std                   834695 non-null  float64
 74   Active Max                   834695 non-null  float64
 75   Active Min                   834695 non-null  float64
 76  Idle Mean                     834695 non-null  float64
 77   Idle Std                     834695 non-null  float64
 78   Idle Max                     834695 non-null  float64
 79   Idle Min                     834695 non-null  float64
 80  Label                         834695 non-null  object
dtypes: float64(45), int64(35), object(1)
memory usage: 515.8+ MB

In [8]:
# Label Encoder
encoder = LabelEncoder()
encoded = encoder.fit_transform(df['Label'])
df['Label'] = encoder.fit_transform(df['Label'])

#Remove duplicated data
df.duplicated().sum()
df = df.drop_duplicates()


# andle missing data
df.isna().sum()

 Source Port          0
 Destination Port     0
 Protocol             0
 Flow Duration        0
 Total Fwd Packets    0
                     ..
Idle Mean             0
 Idle Std             0
 Idle Max             0
 Idle Min             0
Label                 0
Length: 81, dtype: int64

In [9]:
df.groupby('Label')['Label'].count()

Label
0      39679
1      43374
2      56630
3      93767
4      38769
5      32545
6      31031
7      13028
8      39267
9      36030
10    410543
Name: Label, dtype: int64

In [10]:
np.isinf(df).sum().sum()

0

In [11]:
df = df.loc[:, ~((df == 0).all() | (df == -1).all())]

In [13]:

X = df.drop('Label', axis=1)
y = df["Label"]

from sklearn.feature_selection import VarianceThreshold

selector = VarianceThreshold(threshold=0.01)  # Adjust threshold if needed
X_reduced = selector.fit_transform(X)

In [14]:
# selected_features = [' Bwd Header Length', ' Fwd Header Length.1', ' Subflow Bwd Packets', ' min_seg_size_forward',
                    # ' Total Fwd Packets', ' Total Length of Bwd Packets', ' Fwd Packet Length Std', ' Bwd Packet Length Std',
                    # 'Flow Bytes/s', ' Flow Packets/s', ' Flow IAT Std', 'Fwd Packets/s', ' Min Packet Length']

# X = df[selected_features]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [17]:
# X_train  #imbalanced
from imblearn.over_sampling import SMOTE

smote = SMOTE()
X_train, y_train = smote.fit_resample(X_train, y_train)

In [18]:
y_train.value_counts()

Label
2     328582
10    328582
9     328582
0     328582
5     328582
3     328582
1     328582
4     328582
7     328582
8     328582
6     328582
Name: count, dtype: int64

In [ ]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=50, random_state=42)
rf.fit(X_train, y_train)

# Make predictions
y_pred = rf.predict(X_test)

In [ ]:
# from sklearn.neighbors import KNeighborsClassifier

# model = KNeighborsClassifier(n_neighbors=10)
# model.fit(X_train, y_train)
# y_pred = model.predict(X_test)

In [ ]:
comparison_df = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})

In [ ]:
from sklearn.metrics import confusion_matrix
import seaborn as sns
import matplotlib.pyplot as plt

cm = confusion_matrix(y_test, y_pred)
sns.heatmap(cm, annot=True, fmt="d", cmap="Blues")
plt.xlabel("Predicted")
plt.ylabel("Actual")
plt.title("Confusion Matrix")
plt.show()

In [ ]:
from sklearn.metrics import f1_score

f1 = f1_score(y_test, y_pred)
print("F1-Score:", f1)